<!--
  Generated template for the DepartmentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Departments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


<ion-list>
  <ion-item no-lines (click)='courses(item)' *ngFor="let item of items">
    <ion-avatar item-start>
      <img src='./assets/image/3.png'>
    </ion-avatar>
    {{ item }}
  </ion-item>
</ion-list>

</ion-content>


<ion-footer color='dark' >
  <ion-toolbar text-wrap class="my">
    <ion-title style='background-color: #444;' ><h6 style="color: #e9e9e9;">Copyright © SNS College Of TECHNOLOGY 2017<br> Developed by SNSCT</h6></ion-title>
  </ion-toolbar>
</ion-footer>
