page-home {
.heading{
     
    text-align: center;
    
}
ion-spinner{
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}

.card-background-page {
background-color: darkgrey;
  ion-card {
    position: relative;
    text-align: center;
    
           
  }

  .card-title {
    position: absolute;
    top: 90%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color:black;
  }

.sub{
      color: black;
    text-align: center;
}



}
}
