
<ion-header color='#444'>
  <ion-navbar>
    <ion-title class="heading">
      SNS Courseware
    </ion-title>
  </ion-navbar>
</ion-header>




<ion-content class="card-background-page" padding>
    
<div class="sub">
<h3>SNS GROUP OF INSTITUTIONS</h3>
  <h6>This is a online courseware website for sns college students through this website student can access their materials</h6>
  </div>
  
  <ion-grid style='margin-top: 36px;'>
    <ion-row>
     
      <ion-col col-6>
  <ion-card (click)="department('tech')">
    <img src="./assets/image/1.jpg"/>
    <div class="card-title">SNS TECHNOLOGY</div>
  </ion-card>
      </ion-col>
      <ion-col col-6>

  <ion-card (click)='department("engineering")'>
    <img src="./assets/image/2.jpg"/>
    <div class="card-title">SNS ENGINEERING</div>
  </ion-card>
      </ion-col>
      
  </ion-row>
  </ion-grid>
 

</ion-content>





<ion-footer color='dark' >
  <ion-toolbar text-wrap class="my">
    <ion-title style='background-color: #444;' ><h6 style="color: #e9e9e9;">Copyright © SNS College Of TECHNOLOGY 2017<br> Developed by SNSCT</h6></ion-title>
  </ion-toolbar>
</ion-footer>
 


